* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    z-index: 999;
    position: fixed;
    background-color: white;
    width: 100%;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .menu li a{
    color: black;
    font-size: x-large;
    font-family: 'Oxygen', sans-serif;
    padding: 10px;
    transition: color 0.5s ease;
}

.navbar .menu li a:hover {
    background-color: black;
    color: white;
}

.navbar .menu-btn {
    font-size: 23px;
    cursor: pointer;
    float: right;
    margin-left: auto;
    display: none;
}
 
.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-container p {
    font-size: 4rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  
.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

.welcome-message {
    font-family: 'Press Start 2P', cursive;
    font-size: 90px;
    color: rgb(238, 255, 0);
} 

.home {
    background: url("../images/motion.svg") no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    color: white;
    min-height: 500px;
}

section {
    padding: 100px 0;
}

.about {
    font-family: 'Source Code Pro', monospace;
    margin-top: 120px;
}

.about .page-title {
    position: relative;
    font-family: 'Tourney', cursive;
    font-size: 57px;
    margin-bottom: 60px;
    padding-bottom: 10px;
    align-items: center;
    text-align: center;
    text-decoration: underline 4px;
}

.about .about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-container .left {
    width: 40%;
    align-items: center;
}

.about .about-container .left img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-radius: 6px;
}

.about .about-container .right {
    width: 55%;
}

.about .about-container .right .text h2 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.about .about-container .right .text p {
    text-align: justify;
}

.about .about-container .hire-me {
    font-family: "Encode Sans SC", sans-serif;
    font-size: 30px;
    margin-top: 40px;
}

.about .about-container .download {
    font-family: "Encode Sans SC", sans-serif;
    font-size: 20px;
    background-color: rgba(68, 68, 240, 0.74);
    padding: 10px;
    margin-top: 40px;
    border-radius: 7px;
    color: azure;
}

.about .about-container .download:hover {
    background-color: white;
    color: rgba(68, 68, 240, 0.74);
    border: solid;
    border-color: rgba(68, 68, 240, 0.74);
}



@media (max-width: 1140px) {
    .about .about-container .left img {
        height: 350px;
        width: 350px;
        object-fit: contain;        
    }
}

@media (max-width: 960px) {
    .max-width {
        max-width: 800px;
        padding: 0 50px;
    }

    .navbar .menu-btn {
        padding-top: 10px;
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: white ;
        left: -100%;
        top: 0;
        text-align: center;
        transition: 0.3s ease-out;
    }

    .navbar .menu-active{
        left: 0;
        transition: 0.3s ease-in;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 0;
        transition: 0.5s ease-in;
    }

    .navbar .menu li a:hover { 
        font-size: 30px;
        color: black;
        background-color: white;
    }

    .home-container p {
        font-size: 3rem;
    }

    .about .about-container .column {
        width: 50%;
    }

    .about .about-container .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-container .right {
        flex: 100%;
    }
}